*{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;
	text-decoration:none;
	text-transform:capitalize;
	transition: all .2s linear;
}

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --white:#ffffff;
    --red:#cb3434;
    --red-light:#cb343449;
    --border:.1rem solid rgba(255,255,255,.3);
    --FontSize-s: 1rem;
    --FontSize-m: 1.2rem;
    --FontSize-l: 2rem;
    --FontSize-xl: 2.375rem;
}

html {
	font-size:62.5%;
	overflow-x:hidden;
}

body{
    height: 100vh;
}

header{
    background-color: var(--red);
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    & h1{
        color: var(--white);
    }
}
main{
    margin: 1rem auto;
    padding: 2rem;
    width: 70%;
    min-width: 31.25rem;
    border: 2px solid;
    background-color: var(--red-light);
    letter-spacing: .2rem;
    font-size: var(--FontSize-m);
}
.container-principal{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}
.spinner{
    & div{
        width: 100%;
        & img{
            width: 100%;
        }
    }
}
.pokemon-block{
    background-color: var(--white);
    border: 4px solid var(--red);
    border-radius: 3rem;

    & figure{
        background-color: transparent;
        position: relative;
        margin:0 0 0 0;
        display: flex;
        justify-content: center;
        & img{
            border-radius: 100%;
            border: 2px solid;
            padding: .2rem;
            width: 15rem;
            height: 15rem;
            background-color: #ffffff;
            z-index: 10;
        }
    }
    & p{
        margin: 2rem;
        text-align: center;
        background-color: var(--red);
        color: var(--white);
    }
}
.pokemon-block-back:hover .pokemon-block {
    transform: rotateY(180deg);
}

.page-item{
    margin: 1rem 5rem;
    width: 10rem;
    text-align: center;
    & a{
        background-color: var(--red);
        color: var(--white);
        font-size: var(--FontSize-m);
        cursor: pointer; 
    }
}




// Media Querie

@media (max-width: 800px) {
    html {
        font-size:60.5%;
    }
    main {
        width: 95%;
    }
}
@media (max-width: 420px) {
    html {
        font-size:55.5%;
    }
    main {
        width: 95%;
    }
    .page-item{
        margin: 1rem 2rem;
        width: 10rem;
        text-align: center;
        & a{
            background-color: var(--red);
            color: var(--white);
            font-size: var(--FontSize-m);
            cursor: pointer; 
        }
    }
}
@media (max-width: 393px) {
    html {
        font-size:55.5%;
    }
    main {
        width: 95%;
    }
    .page-item{
        margin: 1rem 2rem;
        width: 10rem;
        text-align: center;
        & a{
            background-color: var(--red);
            color: var(--white);
            font-size: var(--FontSize-m);
            cursor: pointer; 
        }
    }
}
@media (max-width: 320px) {
    html {
        font-size:55.5%;
    }
    main {
        width: 95%;
    }
    .pokemon-block{
    width: 90%;
    }
    
}


